/* ✅ Dark Animated Gradient Background */

@keyframes hero-gradient-animation {
  0% {
    --s-start-0: 9%;
    --s-end-0: 55%;
    --x-0: 85%;
    --c-0: hsl(184, 70%, 21%);
    --y-0: 80%;
    --s-start-1: 5%;
    --s-end-1: 72%;
    --x-1: 60%;
    --c-1: hsl(184, 70%, 21%);
    --y-1: 24%;
    --y-2: 82%;
    --x-2: 13%;
    --s-start-2: 5%;
    --s-end-2: 52%;
    --c-2: hsl(184, 70%, 21%);
    --c-3: hsl(184, 70%, 21%);
    --s-start-3: 13%;
    --s-end-3: 68%;
    --x-3: 24%;
    --y-3: 7%;
  }
  100% {
    --x-0: 31%;
    --y-0: 94%;
    --x-1: 2%;
    --y-1: 25%;
    --x-2: 98%;
    --y-2: 20%;
    --x-3: 95%;
    --y-3: 92%;
  }
}

.gradient-container {
  --x-0: 85%;
  --c-0: hsl(184, 70%, 21%);
  --y-0: 80%;
  --x-1: 60%;
  --c-1: hsl(184, 70%, 21%);
  --y-1: 24%;
  --x-2: 13%;
  --c-2: hsl(184, 70%, 21%);
  --c-3: hsl(184, 70%, 21%);
  --x-3: 24%;
  --y-3: 7%;
  background-color: hsl(184, 70%, 21%);
  background-image:
    url("data:image/svg+xml,%3Csvg viewBox='0 0 902 902' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) 9%, transparent 55%),
    radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) 5%, transparent 72%),
    radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) 5%, transparent 52%),
    radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) 13%, transparent 68%);
  animation: hero-gradient-animation 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal;
}
